<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="col-10 offset-1 about">
			<h1>About Splurty</h1>
			
			<p>
				Splurty was built by <a target="_blank" href="https://benjaminpeterson.netlify.com">Benjamin Peterson</a> through the instruction of the <a target="_blank" href="https://bootcamp.du.edu/coding/online/landing/">University of Denver Coding Boot Camp</a>. 		
			</p>
			<br />
			<p>
				At the time Ben build this application he was attending the University of Denver Coding Boot Camp. This is his first full stack web application finalized on week 2. 
			</p>
			<br />
			<p>
				If you want to learn how to code - start <a target="_blank" href="https://bootcamp.du.edu/coding/online/landing/"> here</a>.
			</p>
			
		</div>
		
		<br class="clear" />
		<br />
		<br />
		<br />
		<br />
	</body>
</html>